@import 'normalize';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    background-color: #263238;
    color: #e5dadc;
    font-family: 'Helvetica Neue', Helvetica, Geneva, sans-serif;
}

body {
    padding: 10em 2vw 3em 2vw;
}

// Layout helpers
.layout-section {
    padding-top: 2vw;
}

.layout-section:last-of-type {
    margin-bottom: 5em;
}

// Helper classes
.hidden {
    display: none;
}

.special-color {
    color: #7DCFB6;
}

// Navigation

.logo {
    display: inline-block;
    position: relative;
    z-index: 99999;
    height: 7em;
    width: 7em;
    transition: 125ms all ease-in-out;
    will-change: auto;

    &.is-small {
        position: absolute;
        left: 2vw;
        height: 3.25em;
        width: 3.25em;
    }
}

.navigation {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    text-align: center;
    background-color: #e5dadc;
    color: #263238;

    @media (max-width: 35em) {
        position: static;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 0.5em;
        letter-spacing: 0.05em;
    }

    a,
    a:visited,
    a:active {
        display: inline-block;
        padding: 0.25em;
        color: #263238;
        text-decoration: none;
    }

    @media (max-width: 35em) {
        a {
            padding: 0.5em;
            margin: 0.5em;
        }
    }

    li.is-active a,
    a:hover,
    a:focus {
        color: #263238;
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #e5dadc;
}

a,
a:visited,
a:active {
    color: #e5dadc;
}

a:hover,
a:focus {
    color: #e5dadc; // @TODO find better
}

a.button {
    display: inline-block;
    padding: 0.75em 1em;
    font-weight: bold;
    text-decoration: none;
    background-color: #7DCFB6;
    color: #263238;
    transition: all 125ms ease-in-out;

    &[disabled] {
        background-color: rgba(#f5f5f5, 0.35);
    }
}

h2 {
    font-size: 6vw;
    letter-spacing: -0.05em;
    font-weight: bold;

    &:after {
        content: '.';
    }
}

.header {
    width: 96vw;
    max-width: 100%;
    min-height: 22em;
    margin: 5em auto 1em;
}

@media (max-width: 35em) {
    .header {
        margin-top: 0;
    }
}

.header h1 {
    font-size: 7.5vw;
    margin: 0;
}

.header h1 + p,
.header h3 {
    font-size: 2vw;
}

@media (min-width: 42em) {
    .rotate-left {
        position: absolute;
        right: 2vw;
        top: 24em;
        max-width: 40vh;
        transform: rotate(-90deg);
        transform-origin: center center;
    }
}

@media (min-width: 52em) {
    .rotate-left {
        top: 18em;
    }
}

@media (min-width: 70em) {
    .rotate-left {
        top: 10em;
    }
}

.main {
    min-height: 35em;
}

.article {
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;

    p {
        font-size: 1.25rem;
    }
}

.cfp.text-image-overlay img {
    filter: unset;
}

.text-image-overlay {
    position: relative;
    margin: 2em 0;
    width: 80vw;
    max-width: 100%;

    @media (min-width: 35em) {
        height: 40em;
    }
}

.text-image-overlay.align-right {
    text-align: right;
    direction: rtl; // TODO: not a good idea a11y-wise
}

.text-image-overlay.text-right {
    text-align: right;

    * {
        width: 100%;
    }

    .content {
        left: 0;
        padding: 2em;

        p {
            max-width: 100%;
            @media (min-width: 35em) {
                padding-left: 40%;
            }
        }
    }
}

.text-image-overlay.color-inverse h4,
.text-image-overlay.color-inverse p,
.text-image-overlay.color-inverse a,
.text-image-overlay.color-inverse li,
.text-image-overlay .color-inverse {
    color: #263238;
}

.text-image-overlay:nth-child(2n+1) {
    left: 16vw;
}

.text-image-overlay img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 12rem;
    object-fit: cover;
    z-index: 0;

    @media (max-width: 35em) {
        object-position: top right;
        filter: brightness(50%) contrast(60%);
    }
}

.text-image-overlay .content {
    position: absolute;
    z-index: 10;
    top: 2em;
    left: 2em;
    bottom: 2em;
    right: 2em;
}

.text-image-overlay h4 {
    font-size: 2em;
    width: 100%;
    max-width: 100%;
    line-height: 1;
    margin: 0 0 1rem 0;

    @media (min-width: 35em) {
        font-size: 6vw;
        width: 60%;
        margin: 0 0 3rem 0;
    }
}

.text-image-overlay p {
    max-width: 100%;
    width: 100%;

    @media (min-width: 35em) {
        font-size: 1.2em;
        max-width: 45%;
        letter-spacing: 0.05em;
        line-height: 1.8;
    }
}

@media (min-width: 35em) {
    .text-image-overlay.wide h4 {
        max-width: 60%;
    }

    .text-image-overlay.wide p {
        max-width: 40%;
        font-size: 1em;
    }
}

.text-image-overlay.wide h4 {
    @media (min-width: 35em) {
        font-size: calc(6vw - 2.5vh);
    }
}

.text-image-overlay .links {
    list-style: none;
    padding: 0;
    font-size: 0.8em;

    li {
        display: inline-block;
        font-weight: bold;
        letter-spacing: 0.25em;
        text-transform: uppercase;

        &:before {
            content: '»';
            font-size: 1.4rem;
            font-weight: normal;
            position: relative;
            top: 0.1em;
        }

        &:not(:last-child) {
            margin-right: 0.75em;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.text-image-overlay.align-right .links {
    li:not(:first-child) {
        margin-right: 0.75em;
    }

    li:first-child {
        margin-right: 0;
    }
}

.theme {
    margin-bottom: 3rem;
    width: 60em;
    max-width: 100%;
    text-align: right;

    blockquote,
    .subline {
        font-family: Georgia, serif;
        font-size: 2.8em;
        line-height: 1.1;
        margin: 0;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.2em;
        line-height: 1.4;
        padding-left: 10%;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    ul p {
        margin-bottom: 1rem;
    }

    &-owl {
        display: none;
    }

    &--left {
        text-align: left;

        p {
            padding-left: 0;
            padding-right: 10%;
        }

    }
}

@media (min-width: 80em) {
    .theme {
        position: relative;
    }

    .theme-owl {
        position: absolute;
        right: -25em;
        top: -8em;
        width: 20em;
        height: 20em;
        margin: 0;
        display: inline-block;
        opacity: 0.125;
    }
}

.ticket {
    margin: 0;
    max-width: 45em;
    min-height: 28em;
    box-sizing: padding-box;
    padding: 2em 2em 2em 2em;
}

@media (min-width: 35em) {
    .ticket {
        padding-right: 10em;
        background: url('/img/ticket.svg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 42em) {
    .ticket {
        padding-right: 12em;
    }
}

.ticket .button {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.ticket h3 {
    font-size: 2.5em;
    margin: 0;
}

.ticket h3 .normal {
    font-size: 1rem;
    font-weight: normal;
}

.ticket h3,
.ticket strong {
    color: #fff;
}

.ticket a:hover {
    background-color: #fff;
}

// Location/Map
.map {
    max-width: 100%;
    margin: 2em auto 0;

    @media (max-width: 42em) {
        height: 10em;
    }
}

// Team Small
.team--small li :not(:last-of-type)::after {
    content: ',';
}

// Partners
.partners {
    margin: 3rem 0 8rem;

    h4 {
        font-size: 2em;
    }
}

.partner-list,
.image-list {
    display: flex;
    padding: 0;
    list-style: none;
}

.partner-list {
    @media (max-width: 35em) {
        display: block;
    }

    li {
        display: flex;
        max-width: 32%;
        margin-right: 2%;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 45em) {
            max-width: 49%;
        }

        @media (max-width: 35em) {
            display: block;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 1.3rem;
        }
    }

    .link {
        flex: 1;
        display: block;
        text-decoration: none;
        padding: 1.5rem;
        background-color: #fff;
        color: #263238;
    }

    .text {
        margin-bottom: 0;
    }

    .image {
        height: 165px;
        width: 100%;
    }
}

.image-list {
    li {
        overflow: hidden;
        display: flex;
        max-width: 32%;
        margin-right: 2%;

        &:last-child {
            margin-right: 0;
        }
    }

    .link {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .image {
        max-height: 180px;
    }
}

// Footer
.footer {
    text-align: center;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    display: inline-block;
}

// Footer navigation
.footer-nav li {
    display: inline-block;
    margin-bottom: 1rem;
}

.footer-nav li a {
    margin: 0.5em;
    padding: 0.25em;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.footer-organizers {
    padding: 1rem 0;

    li {
        display: inline-block;
        width: 5%;
        margin: 1em;
        vertical-align: middle;
        min-width: 5rem;
    }

    img {
        transition: transform 0.3s;
        border-radius: 50%;
        width: 100%;
    }

    p {
        font-size: 0.85rem;
    }

    a {
        display: block;
        text-decoration: none;

        &:hover,
        &:focus {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.footer-partner {
    margin: 0 -2vw 2rem;
    width: calc(100% + 4vw);
    padding: 2rem 0;
    background-color: #e5dadc;
    text-align: center;

    h3,
    p,
    a,
    li {
        color: #263238;
    }
}

.footer-partnerList {
    li {
        display: inline-block;
        width: 10%;
        margin: 1em;
        vertical-align: middle;
        min-width: 7rem;
    }

    a {
        &:hover,
        &:focus {
            img {
                transform: scale(1.1);
            }
        }
    }

    img {
        transition: transform 0.3s;
        width: 100%;
    }
}

// Small screen stuff

@media (max-width: 35em) {
    body {
        padding-top: 0;
    }

    .header h1 {
        font-size: 2rem;
    }

    .header h3 {
        font-size: 1.25rem;
    }

    .header h1 + p,
    .header p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .theme {
        text-align: left;
    }

    .theme p {
        font-size: 1rem;
        padding-left: 0;
    }

    .theme blockquote {
        font-size: 1.5rem;
    }

    .ticket {
        padding: 1em;
    }
}
